*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

footer{
    color: white;
}

body{
    background-color: #0d1321;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

#logo{
    width: 175px;
    vertical-align: middle;
    transition: transform 0.7s ease-in-out;
}

#logo:hover{
    transform: rotate(360deg);
}

.navbar-links{
    display: flex;
    list-style-type: none;
    margin: 13px 0px;
    margin-left: 100px;
}

.navbar-item a{
    display: inline-block;
    text-decoration: none;
    color: rgb(36,52,68);
    padding: 0px 8px;
    font-size: 21px;
    transition: 0.3s;
}

.navbar-item:hover a{
    color: #f0ebd8;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out 0.1s;
}

.navbar-item.active a{
    color: #f0ebd8;
}

.content{
    display: flex;
    flex-direction: column;
}

.info-text1{
    width: 50%;
    padding-left: 50px;
    padding-top: 105px;
}

.info-text2{
    width: 70%;
    padding-left: 230px;
    padding-top: 110px;
}

.title{
    color: white;
    margin: auto;
    font-size: 34px;
    font-weight: bold;
    padding-top: 120px;
}

.subtitle{
    color: #f0ebd8;
    font-size: 28px;
    font-weight: bold;
    width: fit-content;
    margin-bottom: 5px;
    border-bottom: solid #f0ebd8;
}

.text{
    width: 80%;
    color: white;
    font-size: 18px;
}

.clr-orange{
    color: rgb(227,54,5);
    font-weight: bold;
}
