nav {
    font-family: 'Poppins', sans-serif;
}

@media screen and (min-width: 767px) {

    .nav-deroulant{
        display: none;
    }

    nav{
    width: 60%;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
    margin-top: 8px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    background-color: rgba(240, 235, 216, 0.5);
    border-radius: 17px;
    }
    
    .logo{
        width: 175px;
        vertical-align: middle;
        transition: transform 0.7s ease-in-out;
    }
    
    .logo:hover{
        transform: rotate(360deg);
    }
    
    .navbar-links{
        display: flex;
        list-style-type: none;
        margin: 13px 0px 13px 100px;
    }
    
    .navbar-item a{
        display: inline-block;
        text-decoration: none;
        color: rgb(36,52,68);
        padding: 0px 8px;
        font-size: 21px;
        transition: 0.3s;
    }
    
    .navbar-item:hover a{
        color: #f0ebd8;
        transform: scale(1.1);
        transition: all 0.3s ease-in-out 0.1s;
    }
    
    .navbar-item.active a{
        color: #f0ebd8;
    }
}

@media screen and (max-width: 950px) {
    
    .navbar-links {
        margin: 13px 0px;
    }
}

@media screen and (max-width: 767px) {

    :root{
        --hauteur-menu: 40px;
    }

    .nav-classic{
        display: none;
    }
    .nav-deroulant{
        display: inline-block;
        height: auto;
    }

    .bkrnd-nav-der {
        background-color: rgba(195, 195, 195, 0.5);
        width: 100%;
    }

    #a-logo {
        width: 175px;
    }

    .logo {
        width: 175px;
        vertical-align: middle;
        transition: transform 0.7s ease-in-out;
    }

    nav {
        width: 100px;
        font-size: 18px;
        position: absolute;
        top: 0;
        right: 15px;
    }
    
    nav > ul {
        display: flex;
        text-align: center;
        height: var(--hauteur-menu);
    }
    
    nav ul {
        list-style-type: none;
    }
    
    nav > ul > li {
        background-color: white;
        position: relative;
        height: 100%;
        flex: 1;
    }
    
    nav > ul > li > a {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    li a {
        text-decoration: none;
        color: black;
    }
    
    .menu-ico {
        height: 45%;
        width: 45%;
    }
    
    .menu-deroulant {
        border-radius: 90px;
        background-color: rgba(255, 255, 255, 0);
    }
    
    .menu-deroulant > a:after{
        font-size: 15px;
        margin-left: 7px;
        display: inline-block;
    }
    
    li {
        display: inline;
    }
    
    .sous-menu {
        margin-top: var(--hauteur-menu);
        width: 100%;
        text-align: left;
        background-color: White;
        border-radius: 4px;
        overflow: hidden;
        max-height: 0;
      }
      
      .sous-menu > li > a {
        height: 40px;
        padding-left: 20px;
        width: 100%;
        align-items: center;
        display: flex;
      }
      
      .sous-menu > li:hover > a {
        color: orange;
        background-color: black;
      }
    
    @keyframes apparitionSousMenu {
        0% {
          box-shadow: 0px 3px 3px 1px;
        }
        50% {
          box-shadow: 0px 3px 3px 1px;
        }
        100% {
          max-height: 50em;
          box-shadow: 0px 3px 3px 1px;
        }
    }
    
    .menu-deroulant:hover > .sous-menu {
        animation: apparitionSousMenu 2s forwards;
    }

    #logo-m {
        font-size: 2em;
    }
}
