*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    color: white;
    

   
    
}
html{
    scroll-behavior: smooth;
}

body{
    background-image: linear-gradient(to right top, #0d1321, #0d1321, #0d1321, #0d1321, #0d1321);
      background-repeat:no-repeat;
    height:100vh;
    }

.fade-in {
    -webkit-animation-name: fadeInOpacity;
            animation-name: fadeInOpacity;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
  }
  
  @-webkit-keyframes fadeInOpacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes fadeInOpacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }



html {
    scroll-behavior: smooth;
}

body, html {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
    
}

    

.background {
    color: #F0EBD8;
    
  

}
    







.services {
    margin: auto;
    scroll-behavior: smooth;
    position: relative;
    text-align: center;
    font-size: 50px;
    text-decoration: underline;
    
    
   padding-top: 100px;
    

}

.imgsrvc {
    display: block;
    margin-right: auto;
    margin-left: auto;
    
    scroll-behavior: smooth;
    position: relative;
    
    top: 170px;
    right: -70px;
    
   
}
    
    




.livraison {
    margin-right: auto;
    margin-left: auto;
    
    
    
    position: relative;
    top: 50px;
    right: -350px;


    
   
    
    
    

  
    
   
}

.enp1 {
    position: relative;
    margin-right: auto;
    margin-left: auto;

    top: 55px;
    left: 145px;
    -webkit-transition: all 0.2s ease; /* Safari et Chrome */
-moz-transition: all 0.2s ease; /* Firefox */
-ms-transition: all 0.2s ease; /* Internet Explorer 9 */
-o-transition: all 0.2s ease; /* Opera */
transition: all 0.2s ease;
}
.enp1:hover {
/* L'image est grossie de 25% */
-webkit-transform:scale(1.002); /* Safari et Chrome */
-moz-transform:scale(1.002); /* Firefox */
-ms-transform:scale(1.002); /* Internet Explorer 9 */
-o-transform:scale(1.002); /* Opera */
transform:scale(1.003);
}





.imgvoyage {
    
    scroll-behavior: smooth;
    position: relative;
    left: 1157px;
    top: 30px;
   

}

.voyages {
    scroll-behavior: smooth;
    position: relative;
    left: 802px;
    bottom: 75px;
}
.enp2 {
    position: relative;

    top: -10px;
    left: 1202px;
    -webkit-transition: all 0.2s ease; /* Safari et Chrome */
-moz-transition: all 0.2s ease; /* Firefox */
-ms-transition: all 0.2s ease; /* Internet Explorer 9 */
-o-transition: all 0.2s ease; /* Opera */
transition: all 0.2s ease;
}
.enp2:hover {

-webkit-transform:scale(1.002); /* Safari et Chrome */
-moz-transform:scale(1.002); /* Firefox */
-ms-transform:scale(1.002); /* Internet Explorer 9 */
-o-transform:scale(1.002); /* Opera */
transform:scale(1.003);
}

.imgtelephone {
    
    scroll-behavior: smooth;
    position: relative;
    left: 90px;
    top: -20px;
   

}

.telephone {
    scroll-behavior: smooth;
    position: relative;
    left: 370px;
    bottom: 115px;
}
.enp3 {
    position: relative;

    top: -63px;
    left: 145px;
    -webkit-transition: all 0.2s ease; /* Safari et Chrome */
-moz-transition: all 0.2s ease; /* Firefox */
-ms-transition: all 0.2s ease; /* Internet Explorer 9 */
-o-transition: all 0.2s ease; /* Opera */
transition: all 0.2s ease;
}
.enp3:hover {

-webkit-transform:scale(1.002); /* Safari et Chrome */
-moz-transform:scale(1.002); /* Firefox */
-ms-transform:scale(1.002); /* Internet Explorer 9 */
-o-transform:scale(1.002); /* Opera */
transform:scale(1.003);
}

.imgcuisine {

    scroll-behavior: smooth;
    position: relative;
    left: 1170px;
    top: -40px;



}

.cuisine {

    scroll-behavior: smooth;
    position: relative;
    left: 804px;
    bottom: 145px;

}





.enp4 {
    position: relative;

    top: -100px;
    left: 1234px;
    -webkit-transition: all 0.2s ease; /* Safari et Chrome */
-moz-transition: all 0.2s ease; /* Firefox */
-ms-transition: all 0.2s ease; /* Internet Explorer 9 */
-o-transition: all 0.2s ease; /* Opera */
transition: all 0.2s ease;
}
.enp4:hover {

-webkit-transform:scale(1.002); /* Safari et Chrome */
-moz-transform:scale(1.002); /* Firefox */
-ms-transform:scale(1.002); /* Internet Explorer 9 */
-o-transform:scale(1.002); /* Opera */
transform:scale(1.003);
}

.imgcarte {

    scroll-behavior: smooth;
    position: relative;
    left: 100px;
    top: -90px;

}

.carte {
    scroll-behavior: smooth;
    position: relative;
    left: 400px;
    bottom: 230px;
}

.enp5 {
    position: relative;

    top: -225px;
    right: -170px;
    -webkit-transition: all 0.2s ease; /* Safari et Chrome */
-moz-transition: all 0.2s ease; /* Firefox */
-ms-transition: all 0.2s ease; /* Internet Explorer 9 */
-o-transition: all 0.2s ease; /* Opera */
transition: all 0.2s ease;
}
.enp5:hover {

-webkit-transform:scale(1.002); /* Safari et Chrome */
-moz-transform:scale(1.002); /* Firefox */
-ms-transform:scale(1.002); /* Internet Explorer 9 */
-o-transform:scale(1.002); /* Opera */
transform:scale(1.003);
}

.background  {
    
}

.produit {
   
    justify-content: left;
    margin-left: 70px;
    
}

.imgproduit {
    justify-content: left;
    margin-left: 90px;
    margin-bottom: 20px;
    
}

.argent {
    position: relative;
    justify-content: center;
    bottom: 220px;
    margin-left: 605px;

}
.imgargent {
    position: relative;
    margin-left: 660px;
    bottom: 240px;
    

}

.marketplace {
    position: relative;
    left: 1170px;
    bottom: 446px;

}

.imgmarketplace {
    position: relative;
    left: 1239px;
    bottom: 460px;

}





.bord1 {
    position:relative;
    bottom: 100px;
    left: 88px;
}

.servtxt {
    margin: auto;
    scroll-behavior: smooth;
    text-align: center;
    position: relative;
    top: 105px;
    font-size: 20px;
    

}

.textproduit {
    margin: auto;
    scroll-behavior: smooth;
    text-align: center;
    position: relative;
    top: -80px;


}



footer {
    height: auto;
    left: 0;
    bottom: 0;
    right: 0;
}

.bkg-color-blue {
    background-color: #1D2D44;
}

.display-flex {
    display: flex;
}

.footer {
    justify-content: space-between;
}

.list {
    padding-top: 10px;
    padding-left: 10px;
}

.list p {
    margin-top: 10px;
}

.pageCreateur {
    align-items: center;
}

.pageCreateur h4 {
    transform: translateX(-50px);
    font-size: 16px;
}

ul li {
    list-style: none;
}

.gr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.participants {
    position: relative;
    right: 36px;
}
.rappelPlan {
    width: 100px;
    display: flex;
    align-items: center;
}

.rappelList li {
    list-style-type: none;
    margin-top: 5px;
    margin-bottom: 5px;
}

.rappelList a {
    color: white;
}

.rappelList li:hover a {
    color: #F0EBD8;
    transition: color 0.2s ease-in-out;
}

.rappelList {
    display: flex;
    flex-direction: column;
    position: relative;
    right: 50px;
}

#participant {
    position: relative;
    top: 18px;
    left: -4px;
}

.bugfix {
    position: relative;
    top: 25px;
    left: -4px;
}































    
    
   

    


 
