*, ::before, ::after {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;

 
  
}

body {
  background: #0d1321;
}
.titre{
  padding-top: 100px;
  text-align: center;
  font-size: 30px;
  color: #f0ebd8;
  text-decoration: underline #f0ebd8;

}
.image1{
  width: 50%;
}
.image2{
  width: 400px;
}
.image3{
  width: 60%;

}
.paragraphe{
  font-size: 20px;
  padding-top: 10px;
  padding-left: 20%;
  padding-right: 20%;
  text-align: center;
  color: white;
}

.shadow{
  box-shadow: 10px 5px 5px #f0ebd8;
  border-radius: 17px;
}

.Casino{
  text-align: center;
  padding-top: 100px;
  padding-bottom: 10px;
}

.Casinotext{
  padding-bottom: 100px;
}

.directeur{
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.nom{
  font-size: 35px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.organigramme{
  padding-top: 100px;
  text-align: center;
  padding-bottom: 100px;
}
.emploie{
  padding-top: 10px;
  padding-bottom: 100px;
}

.bkg-color-blue {
  background-color: #748CAB;
}